
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
}

.grid-container-header {
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: #eaebed;
  height: 90vh;
 
}
.grid-container-header-logo{
display: flex;
justify-content: space-around;
}
.grid-container-header-text{
  display: grid;
  text-align: center;
  grid-template-rows: auto auto;
  justify-content: center ;
}
.grid-container-main {
  display: grid;
  grid-template-columns: 10% auto 10%;
  background-color: #cad1d7;
  height: 70vh;
}
.grid-container-main-content{
  display:flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #153e54;
  height: 50vh;
  padding-top: 5em;
  padding-bottom: 5em;
 
}

.grid-item {
  padding: 20px;
  /* font-size: 30px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-doc{

  text-align: center;
  align-items: center;
  justify-content: center;
}

.grid-item-info{
 display: grid;
 grid-template-rows: 80% 20%;
 justify-content: center;
}

.grid-item-header{
  padding: 20px;
  font-size: 2em; 
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.grid-item-thesis{
  padding: 20px;
  font-size: 2em; 
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.info-text{
  color: white;
}


body{
 font-family: Arial, Helvetica, sans-serif;
}

.axeptia-logo{
  height: 10vh;
}
.oslomet-logo{
  height: 15vh;
}

img{
  height: 300px;
  border-radius: 10px;
}

a{
  color: inherit;
}



  
  